# Database
DB_HOST=postgres-quiz
DB_PORT=5432
DB_USER=synapseai
DB_PASSWORD=synapseai123
DB_NAME=quiz_db

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# Server
SERVER_PORT=8005
GRPC_PORT=9005

# Service
SERVICE_NAME=quiz-service
ENVIRONMENT=development
