# Database
DB_HOST=postgres-user
DB_PORT=5432
DB_USER=synapseai
DB_PASSWORD=synapseai123
DB_NAME=user_db

# Server
SERVER_PORT=8002
GRPC_PORT=9002

# Service
SERVICE_NAME=user-service
ENVIRONMENT=development
