# Database
DB_HOST=postgres-content
DB_PORT=5432
DB_USER=synapseai
DB_PASSWORD=synapseai123
DB_NAME=content_db

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# Server
SERVER_PORT=8003
GRPC_PORT=9003

# Service
SERVICE_NAME=content-service
ENVIRONMENT=development
